[Unit]
Description=Jellyfin container
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/bin/docker create \
              --rm \
              --name jellyfin \
              --publish 8096:8096/tcp \
              --mount type=bind,source=/apps/jellyfin/config,target=/config \
              --mount type=bind,source=/apps/jellyfin/cache,target=/cache \
              --mount type=bind,source=/mnt/Filme,target=/media/Filme,readonly \
              --mount type=bind,source=/mnt/Daten/Musik,target=/media/Musik,readonly \
              --mount type=bind,source=/etc/localtime,target=/etc/localtime,readonly \
              jellyfin/jellyfin
ExecStart=/bin/docker start --attach jellyfin
ExecStop=/bin/docker stop jellyfin

[Install]
WantedBy=multi-user.target
